# DVC - игнорируем данные и кэш
/data/raw/*
!/data/raw/.gitkeep
/data/processed/*
!/data/processed/.gitkeep
/models/*
!/models/.gitkeep
.dvc/cache
.dvc/tmp

# MLflow - игнорируем логи и БД
mlruns/
mlflow.db
mlflow.db-shm
mlflow.db-wal

# Environment
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# IDE
.vscode/
.idea/

# OS
.DS_Store
